/*
* @Author: 贾思凡
* @Date:   2018-02-04 13:18:53
* @Last Modified by:   贾思凡
* @Last Modified time: 2018-02-04 13:46:33
*/
*{
	margin: 0;
	text-decoration: none;
	font-style: normal;
	padding: 0;
	list-style: none;
}